.rowHeaderClass {
  text-align: center;
}

.nav-color {
  background-color: #f8f9fa;
}

#body-container {
  padding: 0px;
}

.no-gutters {
  padding: 0 !important;
}

.navbar-title {
  padding: 0px 40px;
}

.rowClass {
  border-style: hidden hidden solid hidden;
  border-width: thin;
  border-color: #e8e8e8;
}

.cardImage {
  max-width: 300px;
  height: auto;
  /* max-height: 250px; */
  /* min-width: 250px; */
}

.circle {
  border-radius: 50%;
  background-color: rgb(56, 56, 56);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.circle > p {
  text-align: center;
  color: white;
  font-size: 18px;
}