body {
  height: 100vh;
  display: flex;
  flex-flow: column;
  margin: 0;
}

#root {
  height: 100vh;
}

#page {
  height: 100vh;
}

#row-container {
  position: relative;
  flex-grow: 1;
}

#row-container > .tile-row {
  height: 33.3%;
}

#body-container {
  flex-grow: 1;
  padding: 0px;
}

.rowHeaderClass {
  text-align: center;
}

.nav-color {
  background-color: #f8f9fa;
}

.no-gutters {
  padding: 0 !important;
}

.navbar-title {
  padding: 0px 40px;
}

.rowClass {
  border-style: hidden hidden solid hidden;
  border-width: thin;
  border-color: #e8e8e8;
}

.carousel-inner {
  height: 100%;
}

.carousel-item.active {
  height: 100%;
}

.modal-body > .carousel.slide {
  height: 300px;
}

div.modal-dialog {
  min-width: 0px;
}

.cardImage {
  position: absolute;
  bottom: 0%;
  /* max-height: 150px; */
  width: 100%;
  object-fit: cover;
}

div.shadow.card {
  margin: 2% 5%;
}

/* .circle {
  border-radius: 50%;
  background-color: rgb(56, 56, 56);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
} */

.circle > p {
  text-align: center;
  color: white;
  font-size: 18px;
}

.tile-container > .card {
  margin: 0 0.35rem;
}

.notdisplayed {
  display: none;
}

.displayed {
  display: flex;
  height: 20px;
  margin: auto;
}

h5 {
  text-align: center;
  margin: 0.4rem 0.4rem;
  max-width: 350px;
}

/* .tile-row {
  flex-grow: 1;
} */

.spec-container > span {
  font-size: 0.75rem;
}

.card-title {
  font-size: 0.85rem;
}

.filter-bar > * {
  margin: auto 5px;
}

.arrow-box-right > * {
  margin: 0 16px;
}

.arrow-box-right:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f9fa );
  cursor: pointer;
}

.arrow-box-left > * {
  margin: 0 16px;
}

.arrow-box-left:hover {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #f8f9fa );
  cursor: pointer;
}

.tile-container {
  margin: 0;
  flex: 1;
}

.tile-container > .container {
  width: 33.3%;
}

.outside-tile {
  position: relative;
  margin: auto;
  /* border: 3px solid green; */
}

/* .other {
float: left;
width: 50%;
} */

.apt-arrow-up {
  position: absolute !important;
  top: 0%;
  left: 0%;
}

.apt-arrow-down {
  position: absolute !important;
  bottom: 0%;
  left: 0%;
}

.apt-arrow-up > *, .apt-arrow-down > * {
  width: 40%;
  height: auto;
}

label {
  margin: 0 2px;
}

#neighborhoods-dropdown-form {
  max-height: 300px;
  overflow: auto;
}

.tile {
  position: relative;
}

.tile-left-arrow {
  position: absolute;
  left: 0%;
  width: 10%;
  height: 100%;
}

.tile-right-arrow {
  position: absolute;
  right: 0%;
  width: 10%;
  height: 100%;
}