.appClass {
  /* text-align: left; */
}

.headerClass {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: left; */
  /* justify-content: left; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.bodyClass {
  /* border-style: dotted; */
}

.columnClass {
}

.rowContainerClass {
  /* border-style: dotted; */
}

.tierClass {
  /* height: 250px; */
  /* max-width: auto; */
  border-style: solid hidden hidden hidden;
  border-color: #e8e8e8;
  /* border-style: dotted; */
  /* align-items: left; */
}

.rowHeaderClass {
  /* max-width: 100; */
}

.rowContentClass {
  display: flex;
}

.tileClass {
  /* display: inline-block; */
}

.cardImage {
  height: auto;
  max-width: 250px;
}

.App-link {
  /* color: #61dafb; */
}
